* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    font-family: 'Reem Kufi Fun', sans-serif;
    padding: 5rem;
    text-align: center;
    margin-left: 0;
    margin-right: 0;
}

h1 {
    color: rgb(228, 46, 109);
    margin-bottom: 3rem;
    font-weight: 800;
}

header>p {
    font-weight: 400;
}


.col {
    font-family: 'Reem Kufi Fun', sans-serif;
    width: 320px;
    height: 100px;
    background-color: rgb(14, 13, 22);
    margin: 1rem;
    float: left;
    text-align: left;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.418);
}

.testi {
    margin-top: 10px;
    font-weight: 300;

}
img {
    float: left;
    width: 100px;
    margin-right: 15px;
}

.nome {
    color: white;
    margin-bottom: 5px;
}

.professione {
    color: white;
    margin-bottom: 5px;

}

.email {
    color: rgb(55, 175, 210);
    text-decoration: none;
}

.schede{
    margin: 0 auto;
}

/* .clearfix {
    margin: 0 auto;
} */

.clearfix::after {  
    content: "";  
    display: table;  
    clear: both;
    }